* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1e7e34;
}

.texto {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.texto a {
  text-decoration: none;
  color: blue;
}
