body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background: white;
    width: 360px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.formulario h2 {
    text-align: center;
    margin-bottom: 25px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.formulario button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.formulario button:hover {
    background: #0056b3;
}

.formulario p {
    text-align: center;
    margin-top: 15px;
}

.formulario a {
    text-decoration: none;
    color: blue;
}
