body {
    font-family: Arial, sans-serif;
    background: #cac5c5;
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}

.contenedor {
    background: white;
     border-radius: 13px;
    padding: 20px;
    width: 500px;
}

h2 {
    color: #6e6b6b;
    margin-bottom: 5px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
}

.campo {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 13px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #eee;
}

.botones {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.cancelar {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(46, 43, 43);
    padding: 8px 15px;
}

.guardar {
    background: rgb(255, 255, 255);
    color: rgb(107, 107, 107);

    padding: 8px 15px;
    border-radius: 10px;
}